.navbar {
  background-color: #e7d8c1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100vw;
}
.logo{
  padding-left: 7rem;
}
.logo a {
  color: rgba(21, 0, 0, 0.686);
  font-size: 1.5rem;
  text-decoration: none;
}

.log{
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-links li {
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: rgb(5, 5, 5);
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links svg {
  margin-right: 5px;
}
