/* Add this CSS to your existing stylesheet or create a new one */

/* Sidebar Styles */
.sidebar-container {
    width: 200px;
    height: 70%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #532904;
    padding: 20px;
    text-decoration: none;
  }
  
  .sidebar-link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    transition: color 0.3s ease-in-out;
  }
  
  .sidebar-link:hover {
    color: #4CAF50;
  }
  